In [1]:
import numpy as np
import pandas as pd
import os
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
TV = pd.read_csv('Data/TV Series.csv')

In [3]:
TV.head(2)

,Series Title,Release Year,Runtime,Genre,Rating,Cast,Synopsis
0,Wednesday,(2022– ),45 min,"Comedy, Crime, Fantasy",8.2,"Jenna Ortega, Hunter Doohan, Percy Hynes White...","Follows Wednesday Addams' years as a student, ..."
1,Yellowstone,(2018– ),60 min,"Drama, Western",8.7,"Kevin Costner, Luke Grimes, Kelly Reilly, Wes ...",A ranching family in Montana faces off against...

In [4]:
TV.shape

(50000, 7)

In [5]:
TV=TV.drop_duplicates(subset=['Series Title'])
TV.dropna(inplace=True)

In [6]:
TV.shape

(9404, 7)

In [7]:
TV['Synopsis']=TV['Synopsis'].str.lower()

In [8]:
cv = CountVectorizer(max_features=5000,stop_words='english')

In [9]:
vector = cv.fit_transform(TV['Synopsis']).toarray()

In [10]:
similarity = cosine_similarity(vector)

In [11]:
TV[TV['Series Title'] == 'Wednesday'].index[0]

0

In [12]:
TV[TV['Series Title'].str.contains('Blacklist')]

,Series Title,Release Year,Runtime,Genre,Rating,Cast,Synopsis
75,The Blacklist,(2013– ),43 min,"Crime, Drama, Mystery",8.0,"James Spader, Megan Boone, Diego Klattenhoff, ...","a new fbi profiler, elizabeth keen, has her en..."
2797,The Blacklist: Redemption,(2017),43 min,"Action, Crime, Drama",7.0,"Famke Janssen, Ryan Eggold, Edi Gathegi, Tawny...",covert operative tom keen joins forces with su...
6375,Blacklist,(2019),****,"Action, Drama, Romance",6.8,"Korapat Kirdpan, Pawat Chittsawangdee, Wachira...","after his sister went missing, traffic is offe..."

In [13]:
def recommend(movie):
    index = TV[TV['Series Title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:10]:
        print(TV.iloc[i[0]][0])

In [14]:
recommend('The Blacklist')

A Place to Call Home
My Little Pony: Tell Your Tale
The Good Fight
Life Below Zero: Next Generation
A New Life in the Sun
Poldark
Hannibal
Living with Yourself
Star Trek: New Voyages