<img style="padding-right:10px;" src="figures/python.jpg">

# Introduction to Python

## Python is a general-purpose, versatile, and powerful programming language. It’s a great first language because it’s concise and easy to read. Whatever you want to do, Python can do it. From web development to machine learning to data science, Python is the language for you.

### To display

In [34]:
print("Hello, World!")

x = "awesome"
print("Python is " + x)

Hello, World!
Python is awesome

You can type a comment on the same line after a statement or expression

In [10]:
var=5 # This is again comment

comment multiple lines

In [11]:
# This is a comment.
# This is a comment, too.
# This is a comment, too.
# I said that already.

Python will ignore string literals that are not assigned to a variable, you can add a multiline string (triple quotes) in your code, and place your comment inside it:

In [13]:
"""This is a comment
written in
more than just one line"""

'This is a comment\nwritten in\nmore than just one line'

# Assigning Values to Variables

### A variable is created the moment you first assign a value to it.

In [19]:
a= 1                     # An integer assignment
b= 1.5                  # A floating point
c= "Richard"       # A string

print (a)
print (b)
print (c)

1
1.5
Richard

### Multiple Assignment

In [33]:
a = b = c = 1
a,b,c = 1,1.5,"Richard"

#Unpack a Collection
fruits = ["1", "1.5", "Richard"]
a, b, c = fruits

### To know the variable type

In [23]:
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

### To Casting variable

In [29]:
a = str(3)    # a will be '3'
b = int(3)    # b will be 3
c = float(3)  # c will be 3.0

In [30]:
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'int'>
<class 'float'>

### Variable Naming Conventions

In [31]:
myvar = "Richard"
my_var = "Richard"
_my_var = "Richard"
myVar = "Richard"
MYVAR = "Richard"
myvar2 = "Richard"

## Basic Operators

Arithmetic Operators <br>
Comparison (Relational) Operators <br>
Assignment Operators<br>
Logical Operators<br>
Bitwise Operators<br>
Membership Operators<br>
Identity Operators<br>

###  Arithmetic Operators

In [38]:
a = 21
b = 10
c = 0

c = a + b
print ("Line 1 - Value of c is ", c)

c = a - b
print ("Line 2 - Value of c is ", c)

c = a * b
print ("Line 3 - Value of c is ", c)

c = a / b
print ("Line 4 - Value of c is ", c)

c = a % b
print ("Line 5 - Value of c is ", c)

a = 2
b = 3
c = a**b 
print ("Line 6 - Value of c is ", c)

a = 10
b = 5
c = a//b 
print ("Line 7 - Value of c is ", c)

Line 1 - Value of c is  31
Line 2 - Value of c is  11
Line 3 - Value of c is  210
Line 4 - Value of c is  2.1
Line 5 - Value of c is  1
Line 6 - Value of c is  8
Line 7 - Value of c is  2

## Decision Making before operators

if statements<br>
if...else statements<br>
nested if statements<br>

<img style="padding-right:10px;" src="figures/if_statement.jpg">

In [42]:
a = 33
b = 200
if b > a:
    print("b is greater than a")

b is greater than a

<img style="padding-right:10px;" src="figures/if_else_statement.jpg">

In [45]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
else:
  print("a and b are equal")

a and b are equal

In [46]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

### Comparison Operators

In [51]:
a = 21
b = 10
c = 0

if ( a == b ):
   print( "Line 1 - a is equal to b")
else:
   print( "Line 1 - a is not equal to b")

if ( a != b ):
   print( "Line 2 - a is not equal to b")
else:
   print ("Line 2 - a is equal to b")


if ( a < b ):
   print ("Line 3 - a is less than b" )
else:
   print ("Line 3 - a is not less than b")

if ( a > b ):
   print ("Line 4 - a is greater than b")
else:
   print ("Line 4 - a is not greater than b")

a = 5;
b = 20;
if ( a <= b ):
   print( "Line 5 - a is either less than or equal to  b")
else:
   print( "Line 5 - a is neither less than nor equal to  b")

if ( b >= a ):
   print( "Line 6 - b is either greater than  or equal to b")
else:
   print ("Line 6 - b is neither greater than  nor equal to b")

Line 1 - a is not equal to b
Line 2 - a is not equal to b
Line 3 - a is not less than b
Line 4 - a is greater than b
Line 5 - a is either less than or equal to  b
Line 6 - b is either greater than  or equal to b

### Assignment Operators

In [52]:
a = 21
b = 10
c = 0

c = a + b
print ("Line 1 - Value of c is ", c)

c += a
print ("Line 2 - Value of c is ", c )

c *= a
print( "Line 3 - Value of c is ", c )

c /= a 
print ("Line 4 - Value of c is ", c )

c  = 2
c %= a
print ("Line 5 - Value of c is ", c)

c **= a
print ("Line 6 - Value of c is ", c)

c //= a
print ("Line 7 - Value of c is ", c)

Line 1 - Value of c is  31
Line 2 - Value of c is  52
Line 3 - Value of c is  1092
Line 4 - Value of c is  52.0
Line 5 - Value of c is  2
Line 6 - Value of c is  2097152
Line 7 - Value of c is  99864

### Bitwise Operators

In [53]:
a = 60            # 60 = 0011 1100 
b = 13            # 13 = 0000 1101 
c = 0

c = a & b;        # 12 = 0000 1100
print ("Line 1 - Value of c is ", c)

c = a | b;        # 61 = 0011 1101 
print ("Line 2 - Value of c is ", c)

c = a ^ b;        # 49 = 0011 0001
print ("Line 3 - Value of c is ", c)

c = ~a;           # -61 = 1100 0011
print ("Line 4 - Value of c is ", c)

c = a << 2;       # 240 = 1111 0000
print ("Line 5 - Value of c is ", c)

c = a >> 2;       # 15 = 0000 1111
print ("Line 6 - Value of c is ", c)

Line 1 - Value of c is  12
Line 2 - Value of c is  61
Line 3 - Value of c is  49
Line 4 - Value of c is  -61
Line 5 - Value of c is  240
Line 6 - Value of c is  15

## List

In [60]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
list4 = ["abc", 34, True, 40, "male"]

print(type(list1))
print(type(list2))
print(type(list3))
print(type(list4))

print(list1)
print(list2)
print(list3)
print(list4)


thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[1])
print(thislist[-1])
print(thislist[2:5])
print(thislist[:4])
print(thislist[2:])
print(thislist[-4:-1])

<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]
['abc', 34, True, 40, 'male']
banana
mango
['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange']
['cherry', 'orange', 'kiwi', 'melon', 'mango']
['orange', 'kiwi', 'melon']

In [62]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

### Change List Items

In [65]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'cherry']
['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']
['apple', 'blackcurrant', 'watermelon', 'cherry']

### Add List Items

In [66]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'orange']
['apple', 'orange', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']
['apple', 'banana', 'cherry', 'kiwi', 'orange']

### Remove List Items

In [67]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)


thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

thislist = ["apple", "banana", "cherry"]
del thislist

thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

['apple', 'cherry']
['apple', 'cherry']
['apple', 'banana']
['banana', 'cherry']
[]

# Tuple
Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [68]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

### Tuple Allow Duplicates

In [70]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

### Tuple Update Tuples

In [72]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

### Tuple Unpack Tuples

In [76]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)


fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
banana
cherry
apple
['mango', 'papaya', 'pineapple']
cherry

# Sets

In [83]:
thisset = {"apple","apple", "banana", "cherry"}
print(thisset)

for x in thisset:
  print(x)

{'banana', 'cherry', 'apple'}
banana
cherry
apple

## Sets add

In [86]:
thisset.add("orange")

print(thisset)

thisset.update(tropical)

print(thisset)

{'orange', 'papaya', 'banana', 'cherry', 'pineapple', 'apple', 'mango'}
{'orange', 'papaya', 'banana', 'cherry', 'pineapple', 'apple', 'mango'}

## Sets remove

In [87]:
thisset = {"apple","apple", "banana", "cherry"}
thisset.remove("banana")

print(thisset)

thisset = {"apple","apple", "banana", "cherry"}
thisset.discard("banana")

print(thisset)

x = thisset.pop()

print(x)

thisset.clear()

print(thisset)

{'cherry', 'apple'}
{'cherry', 'apple'}
cherry
set()

# Dictionaries

In [89]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
    "colors": ["red", "white", "blue"]
}
print(thisdict)
print(thisdict["brand"])

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'colors': ['red', 'white', 'blue']}
Ford

## Access Dictionary Items

In [93]:
x = thisdict.get("model")

print(x)

x = thisdict.keys()

print(x)

x = thisdict.values()

print(x)

Mustang
dict_keys(['brand', 'model', 'year', 'colors'])
dict_values(['Ford', 'Mustang', 1964, ['red', 'white', 'blue']])

## Change Dictionary Items

In [95]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

print(thisdict)

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

## Add Dictionary Items

In [99]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"

print(thisdict)

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "green"})


print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'green'}

## Remove Dictionary Items

In [100]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{'brand': 'Ford', 'year': 1964}
{'brand': 'Ford', 'model': 'Mustang'}
{}

# Loops

In [101]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [102]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [103]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

# Function

In [104]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [105]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

# Lambda

In [107]:
x = lambda a : a + 10
print(x(5))

15

In [108]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13